/.idea
/build
/train/model/net_lastest.mdl
/.vecode
/__pycache__
/out/build/x64-Debug
/.vs
/model
/record
/out/build/x64-Release/.cmake/api/v1
/out/build/x64-Release/.vs
/out/build/x64-Release
/remark